<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.simonbs.Alfred.CloudApp</string>
	<key>connections</key>
	<dict>
		<key>12F52224-9ADC-4CB0-92F1-0107E3BAA845</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032D1B72-F38D-412F-9655-32AF63056C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>38B87BED-DB80-4699-9215-84391861EB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12F52224-9ADC-4CB0-92F1-0107E3BAA845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A7EB4CD-D8C5-4033-AE4B-1755AD0BA319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032D1B72-F38D-412F-9655-32AF63056C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8896077A-18B1-4006-8FB2-BF26BFDA0E79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032D1B72-F38D-412F-9655-32AF63056C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A023123D-7F97-4C90-B187-B4290CEE9558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032D1B72-F38D-412F-9655-32AF63056C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1C008AF-F94B-4EA9-8F7F-7C818031FABC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8896077A-18B1-4006-8FB2-BF26BFDA0E79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB747DF6-2804-415E-A9DC-36497163447C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7EB4CD-D8C5-4033-AE4B-1755AD0BA319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DCD7607D-E561-4A82-842B-B87741E65D7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A023123D-7F97-4C90-B187-B4290CEE9558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F34FBAB0-D683-4BE5-BFCF-3D0F53974DE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>388D6A5D-3110-4B44-A037-71C209C25857</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Simon Støvring (@simonbs)</string>
	<key>description</key>
	<string>Manage your CloudApp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CloudApp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from cloudapp import delete_file

print(delete_file("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A7EB4CD-D8C5-4033-AE4B-1755AD0BA319</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CloudApp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>032D1B72-F38D-412F-9655-32AF63056C34</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Send to CloudApp privately</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A1C008AF-F94B-4EA9-8F7F-7C818031FABC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>delcloud</string>
				<key>script</key>
				<string>from cloudapp import xml_items_deletion

print(xml_items_deletion())</string>
				<key>title</key>
				<string>Delete from CloudApp</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BB747DF6-2804-415E-A9DC-36497163447C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from cloudapp import create_bookmark

print(create_bookmark("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A023123D-7F97-4C90-B187-B4290CEE9558</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cloud</string>
				<key>script</key>
				<string>from cloudapp import xml_items

print(xml_items())</string>
				<key>subtext</key>
				<string>Shows the recent items in CloudApp</string>
				<key>title</key>
				<string>CloudApp</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F34FBAB0-D683-4BE5-BFCF-3D0F53974DE4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>388D6A5D-3110-4B44-A037-71C209C25857</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bookmark</string>
				<key>subtext</key>
				<string>Creates a bookmark in CloudApp</string>
				<key>text</key>
				<string>Create bookmark for URL '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCD7607D-E561-4A82-842B-B87741E65D7C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from cloudapp import upload_file

print(upload_file("{query}", "yes"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8896077A-18B1-4006-8FB2-BF26BFDA0E79</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Send to CloudApp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>38B87BED-DB80-4699-9215-84391861EB14</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from cloudapp import upload_file

print(upload_file("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12F52224-9ADC-4CB0-92F1-0107E3BAA845</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>032D1B72-F38D-412F-9655-32AF63056C34</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>12F52224-9ADC-4CB0-92F1-0107E3BAA845</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>388D6A5D-3110-4B44-A037-71C209C25857</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>38B87BED-DB80-4699-9215-84391861EB14</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5A7EB4CD-D8C5-4033-AE4B-1755AD0BA319</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>8896077A-18B1-4006-8FB2-BF26BFDA0E79</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A023123D-7F97-4C90-B187-B4290CEE9558</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A1C008AF-F94B-4EA9-8F7F-7C818031FABC</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BB747DF6-2804-415E-A9DC-36497163447C</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>DCD7607D-E561-4A82-842B-B87741E65D7C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F34FBAB0-D683-4BE5-BFCF-3D0F53974DE4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://simonbs.dk/</string>
</dict>
</plist>
